

  <div class="container" style="height: 100vh;">
    <h1 data-sal="zoom-out"
    data-sal-delay="400"
    data-sal-duration="900"
   data-sal-easing="ease-out-quad"
    class="text-center" #tituloAbout >Quienes somos</h1>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">Ornitorrin-cut, es un proyecto multidisciplinario, nacido  de la reunión de distintas <br>  naturalezas en equilibrio, destinado a crear piezas y alimentos <br> visuales de alta gama    S u i    g e n e r i s.</p>
  </div>
