
  <header >

    <div class="sketch-container">
        <div id="sketch-holder">

        </div>
      </div>


    <hr  style="width:90%; margin: auto;"/>
      <button mat-button class="menu-button" (click)="sidenav.toggle()" >
          <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>

      <a routerLink="/">
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar" id="nav-bar">
                <a  class="navbar-brand mx-auto"><img src="assets/logo.png" alt="" id="logo"></a>
            </nav>
      </a>



        <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav">
        <mat-nav-list>

          <a mat-list-item [routerLink]="'/home-page'"> Inicio </a>
          <a mat-list-item [routerLink]="'/Quienes Somos'"> Quienes Somos </a>
          <a mat-list-item [routerLink]="'/Trabajos'"> Trabajos </a>
          <a mat-list-item [routerLink]="'/Actividades'"> Actividades </a>
          <a mat-list-item [routerLink]="'/Contacto'"> Contacto </a>

        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="menu-vert" id="menu-vertical" style="height: 88vh;" >

          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>






  </header>





    <!-- Header Section End -->
