
.hero-area {
  position: fixed;

}
  .hero-area .contents {
    padding: 0px 0; }
    .hero-area .contents h2 {
      color: #000;
      font-size: 38px;
      font-weight: 600;
      line-height: 60px;
      margin-bottom: 20px;
      z-index: 2}
    .hero-area .contents p {
      color: #000;
      font-size: 18px;
      line-height: 26px;
    }
